# Arquivos de ambiente (Senhas e URLs do Banco)
.env

# Testes de API locais
testes.http
testes.rest

# Dependências do projeto (Nunca commitar essa pasta!)
node_modules/

# Logs e outros arquivos temporários
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store